body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.ibb.co/9yqSsrJ/dibujos-animados-fondo-hermosas-casas-campo-acogedoras-43633-6856.jpg); /* Fondo azul cielo */
}

#game-container {
    text-align: center;
}

#game-background {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}

#circle {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid silver; /* Círculo plateado */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cat {
    width: 150px; /* Tamaño original del gato */
    position: absolute;
    z-index: 1;
}

#food-icon, #hungry-icon {
    position: absolute;
    width: 50px;
    bottom: 10px;
    z-index: 2;
}

#food-icon {
    display: none; /* Inicialmente oculto */
}

#hungry-icon {
    display: none; /* Inicialmente oculto */
}

#info {
    margin-top: 20px;
}

#food-bar-container {
    width: 100%;
    height: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

#food-bar {
    height: 100%;
    width: 0;
    background-color: #76c7c0;
}

#food-label, #ethereum-label, #timer {
    margin: 5px 0;
}

#tap-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#tap-icon {
    width: 50px;
}

/* Animación del gato */
#cat.feed-animation {
    animation: feed 1s ease-in-out;
}

@keyframes feed {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Estilos para los botones */
#invite-friends, #link-metamask {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#invite-friends:hover, #link-metamask:hover {
    background-color: #45a049; /* Verde más oscuro */
}